src/xerces-c/doc/style/dtd/blocks.ent

<?xml encoding='ISO-8859-1'?>

<!-- BLOCKS ENTITY -->
<!ENTITY % blocks "p|note|ul|ol|gloss|table|source|anchor">

<!-- import the external markup.ent dtd -->
<!ENTITY % markupEntity SYSTEM "markup.ent">
%markupEntity;

<!ENTITY % content "(#PCDATA|%markup;|%links;)*">

<!ELEMENT p %content;>
<!ELEMENT note %content;>

<!ELEMENT ul (li|ol|ul)+>
<!ELEMENT ol (li|ol|ul)+>
<!ELEMENT li %content;>

<!ELEMENT gloss (label|item)+>
<!ELEMENT label %content;>
<!ELEMENT item %content;>

<!ELEMENT source (#PCDATA)>

<!ELEMENT table (tr)+>

<!ELEMENT tr (tn|th|td)+>

<!ELEMENT tn EMPTY>
<!ATTLIST tn colspan CDATA "1"
             rowspan CDATA "1">

<!ELEMENT th %content;>
<!ATTLIST th colspan CDATA "1"
             rowspan CDATA "1">

<!ELEMENT td %content;>
<!ATTLIST td colspan CDATA "1"
             rowspan CDATA "1">
             