src/xerces-c/doc/style/dtd/faqs.dtd

<?xml encoding='ISO-8859-1'?>

<!-- STYLEBOOK FAQS DTD -->

<!-- import the external blocks.ent dtd -->
<!ENTITY % blocksEntity SYSTEM "blocks.ent">
%blocksEntity;

<!ELEMENT faqs (faq)+>
<!ATTLIST faqs title CDATA #REQUIRED>

<!ELEMENT faq (q,a)>
<!ATTLIST faq title CDATA #IMPLIED>


<!ELEMENT q (#PCDATA)>
<!ELEMENT a (s3|%blocks;)+>
<!ELEMENT s3 (%blocks;)*>

<!ATTLIST s3 title CDATA #REQUIRED>

<!-- CVS $Revision: 173497 $ $Date: 2002-02-13 21:49:41 +0200 (Wed, 13 Feb 2002) $ -->