src/xerces-c/doc/style/dtd/markup.ent

<?xml encoding='ISO-8859-1'?>

<!-- MARKUP ENTITY -->
<!ENTITY % markup "em|ref|code|br|sup">

<!-- import the external source-specific dtd -->
<!ENTITY % externalEntity SYSTEM "entities.ent">
%externalEntity;
<!-- import the external charecters.ent dtd -->
<!ENTITY % charEntity SYSTEM "characters.ent">
%charEntity;
<!-- import the external links.ent dtd -->
<!ENTITY % linksEntity SYSTEM "links.ent">
%linksEntity;

<!ELEMENT em (#PCDATA|%links;)*>
<!ELEMENT ref (#PCDATA|%links;)*>
<!ELEMENT code (#PCDATA|%links;)*>
<!ELEMENT br EMPTY>
<!ELEMENT sup (#PCDATA)>

<!-- CVS $Revision: 807660 $ $Date: 2009-08-25 16:53:52 +0200 (Tue, 25 Aug 2009) $ -->
