src/xerces-c/doc/style/dtd/markup.ent

<?xml encoding='ISO-8859-1'?>

<!-- MARKUP ENTITY -->
<!ENTITY % markup "em|ref|code|br">

<!-- import the external source-specific dtd -->
<!ENTITY % externalEntity SYSTEM "entities.ent">
%externalEntity;
<!-- import the external charecters.ent dtd -->
<!ENTITY % charEntity SYSTEM "characters.ent">
%charEntity;
<!-- import the external links.ent dtd -->
<!ENTITY % linksEntity SYSTEM "links.ent">
%linksEntity;

<!ELEMENT em (#PCDATA|%links;)*>
<!ELEMENT ref (#PCDATA|%links;)*>
<!ELEMENT code (#PCDATA|%links;)*>
<!ELEMENT br EMPTY>

<!-- CVS $Revision: 173497 $ $Date: 2002-02-13 21:49:41 +0200 (Wed, 13 Feb 2002) $ -->
